* {
  margin: 0px;
  padding: 0px;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

img:nth-child(2) {
  width: 200px;
}

.card-rodape {
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: 100%;
  border-radius: 3px;
}

/* .telinha {
  width: 60px;
  height: 500px;
  background-color: #838383;
} */

.user {
  border-radius: 50%;
}

.card_container {
  width: 100px;
  height: 200px;
  background-color: transparent;
  border-radius: 3px;
}

.container {
  display: flex;
  background-color: #838383;
  gap: 10px;
  flex-wrap: wrap;
}

/* .card1 {
  width: 300px;
  height: 300px;
}

.card2 {
  width: 300px;
  height: 150px;
}

.card3 {
  width: 300px;
  height: 150px;
} */

@media screen and (min-width: 300px) {
  .card_container {
    width: 300px;
  }
}
